{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row p-3">
  <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">

    <!-- Plant list card -->
    <div class="card">
      <div class="card-header">
        Simon's Garden
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <th>Plant</th>
            <th>Soil Moisture</th>
            <th>Last watered</th>
            <th>Water</th>
          </thead>
          <tbody>
            {% for plant in plants %}
            <tr>
              <td>{{ plant.name }}</td>
              <td></td>
              <td></td>
              <td><button class="btn-pill btn-primary"><i class="fa fa-shower"></i></button></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!-- Plant list card -->

  </div>
</div>

{% endblock %}